@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap');

.main{
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  

}
body{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
p{
  color:#8894A0;
  font-size: 20px;
}
