.block{
    padding-top: 128px;
    width: 100%;
    padding-left: 16px;
}
.blocks{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.box{
    padding-top: 128px;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

    

}
.text_box{
    padding-left: 16px;
    padding-right: 112px;

    h2{
        font-size: 26px;
    }
    p{
        font-size: 18px;
    }
}
.shadow{
    filter: drop-shadow(0 0 0.75rem rgb(142, 141, 141));
    border-radius: 15px;
}
.secondImage{
    position: absolute;
    margin-left: 14%;
    margin-top: -2%;
    filter: drop-shadow(0 0 0.75rem rgb(142, 141, 141));
    border-radius: 15px;
}