.block{
    margin-top: 200px;
    width: 100%;
    text-align: start;
    padding: 5px;
}
.boxes{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.box{
    padding: 32px;
    width: 285px;
    border-radius: 30px;
    box-shadow: 0px 3px 8px black;

    p{
        font-size: 18px;
    }

}