.block{
    padding-top: 128px;
    width: 100%;

}
.text{
    padding-left: 16px;
}


.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    
}
.box{
    padding: 32px;
    border-radius: 8px;
    background-color: white;
    box-shadow:0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3);

    h3{
        font-size: 18.72px;
    }
    
    h2{
        font-size: 24px;
    }

    p{
        font-size: 15px;
    }

}