.block{
    padding-top: 128px;
    padding-bottom: 128px;
    width: 100%;

}
.text{
    padding-left: 16px;
}


.boxes{
    padding-top: 128px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    
}
.box{
    padding: 32px;
    border-radius: 9px;
    background-color: white;
    box-shadow:0 40px 81px -16px rgba(50,50,93,.25), 0 24px 48px -24px rgba(0,0,0,.3);

    h3{
        font-size: 18.72px;
    }
    
    h2{
        font-size: 24px;
    }

    p{
        font-size: 15px;
    }

}