@import "./config.scss";



.header {
    max-width: 1080px;
    width: 100%;
    min-height: 10px;
    padding-top: 64px;
    padding-bottom: 64px;

    .citata{
        padding-left: 16px;
        color: #364657;
        font-size: 15px;
    }



    .col {
        color: $mainColor;
        padding-top: 19px;
        padding-bottom: 19px;
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;

        a{
            cursor: pointer;
        }
        a:hover{
            color: gray;
        }
    }
    .sideBlock {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        button {
            background-color: black;
            color: white;
            padding: 6px 18px 6px 18px;
            transition: 0.1s;
            border-radius: 16.5px;
        }
        .sideBlock button:hover {
            background-color: white;
            border: 2px solid black;
            color: black;
        }
    }
}
