.cont{

    position: relative;
    width: 100%;
}
.Section__masked {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    
}


.Guides__container {
    display: grid;
    grid: 1fr/repeat(4, 1fr);
    z-index: -1;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    
  }
.Guides__guide {
    width: 1px;
    background: linear-gradient(180deg,rgba(66,71,112,0.09),rgba(66,71,112,0.09) 50%,transparent 0,transparent);
    background-size: 1px 8px;

}
.Guides__guide__straight{
    background-color: rgba(66,71,112,0.06);
    width: 1px;

}
.Guides__guide__straight__end{
 
    display: flex;
    background-color: rgba(66,71,112,0.06);
    width: 1px;
    top: 0;
    right: 0;

}