@import "./config.scss";

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10px;


    .col{
    color: $mainColor;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.sideBlock{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .button1{
    background-color: #0A2540;
    color: white;
    padding: 6px 12px 6px 12px;
    border-radius: 16.5px;
    transition: .1s;
}
.sideBlock .button1:hover{
    background-color: white;
    border: 2px solid #0A2540;
    color: #0A2540;

}
}
}
