@import "./config.scss";
.main{
    max-width: 1080px;
    width: 100%;
    z-index: 2;
}
.cont{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}