.table{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 128px;
    padding-bottom: 128px;
}

.cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    text-align: center;
    padding: 5px;
    padding-left: 0px;

}
.col{
    width: 120px;
}

.table_inside{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    border-radius: 9px;
    box-shadow: 0 40px 81px -16px rgba(50,50,93,.25), 0 24px 48px -24px rgba(0,0,0,.3);
    width: 100%;
    background-color: white;
}
.col_inside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.col_inside_color{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F9FC;
}
.col_left_inside{

    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
     
}
.col_left_inside_color{

    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #F6F9FC;
    padding: 10px;

}
.table_title_col{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}
.leftTitles{
    margin-top: 70px;
    display: grid;
    grid-template-rows: 60px;
    padding: 5px;

}
